<section class="about-us">
  <div class="about-us__left">
    <div class="about-us__wrapper">
      <img src="./../src/img/about-page/about-us1.jpg" alt="" width="726" height="486" class="about-us__img">
      <img src="./../src/img/about-page/about-us2.jpg" alt="" width="239" height="233" class="about-us__img-abs">
    </div>
  </div>
  <div class="about-us__right">
    <div class="about-us__inner">
      <div class="about-us__tag tag">About Us</div>
      <h2 class="about-us__title title">Our Company Overview</h2>
      <p class="about-us__desk">
        Leverage agile frameworks to provide a robust synopsis for strategy foster collaborative
        thinking to further the overall value proposition.
      </p>
      <div class="about-us__tabs" role="tablist">
        <button class="about-us__tabs-button is-active" type="button" role="tab" tabindex="0" data-tab="1">Our
          Approch</button>
        <button class="about-us__tabs-button" type="button" role="tab" tabindex="-1" data-tab="2">Our Approch</button>
        <button class="about-us__tabs-button" type="button" role="tab" tabindex="-1" data-tab="3">Our Approch</button>
      </div>
      <div class="about-us__tabs-content about-us__tabs-content--active" data-tab="1">
        <p class="about-us__tabs-desk">
          Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque
          laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae
          dicta
          sunt, explicabo. Nemo enim ipsam voluptatem quia voluptassit.
        </p>
      </div>
      <div class="about-us__tabs-content" data-tab="2">
        <p class="about-us__tabs-desk">
          We ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque
          laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae
          dicta
          sunt, explicabo. Nemo enim ipsam voluptatem quia voluptassit.
        </p>
      </div>
      <div class="about-us__tabs-content" data-tab="3">
        <p class="about-us__tabs-desk">
          Us ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque
          laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae
          dicta
          sunt, explicabo. Nemo enim ipsam voluptatem quia voluptassit.
        </p>
      </div>
      <button class="about-us__button button button--blue">Learn More</button>
    </div>
  </div>
</section>
