<section class="blog">
  <div class="blog__tag tag">Our Blog</div>
  <h2 class="blog__title title">Our Latest News</h2>
  <div class="blog__body">
    <div class="blog__news">
      <img src="./../src/img/home-page/blog1.jpg" width="453" height="308" alt="" class="blog__img">
      <div class="blog__calendar">
        {{> icons/icon-calendar }}
        <div class="blog__date">
          <span>08</span>September
        </div>
      </div>
      <div class="blog__info">
        <h3 class="blog__subtitle subtitle">Inland freight a worthy solution for your business</h3>
        <p class="blog__desk">We are dedicated in creating added value for our customers by implementing modern
          technology in our work. </p>
        <ul class="blog__list">
          <li class="blog__item">
            Urgent transport solutions
          </li>
          <li class="blog__item">
            Reliable & experienced staffs
          </li>
          <li class="blog__item">
            Urgent transport solutions
          </li>
          <li class="blog__item">
            Reliable & experienced staffs
          </li>
        </ul>
      </div>
    </div>
    <div class="blog__news">
      <img src="./../src/img/home-page/blog2.jpg" width="453" height="308" alt="" class="blog__img">
      <div class="blog__calendar">
        {{> icons/icon-calendar }}
        <div class="blog__date">
          <span>12</span>September
        </div>
      </div>
      <div class="blog__info">
        <h3 class="blog__subtitle subtitle">How technology can help redraw the supply chain map</h3>
        <p class="blog__desk">We are dedicated in creating added value for our customers by implementing modern
          technology in our work. </p>
        <ul class="blog__list">
          <li class="blog__item">
            Urgent transport solutions
          </li>
          <li class="blog__item">
            Reliable & experienced staffs
          </li>
          <li class="blog__item">
            Urgent transport solutions
          </li>
          <li class="blog__item">
            Reliable & experienced staffs
          </li>
        </ul>
      </div>
    </div>
    <div class="blog__news">
      <img src="./../src/img/home-page/blog3.jpg" width="453" height="308" alt="" class="blog__img">
      <div class="blog__calendar">
        {{> icons/icon-calendar }}
        <div class="blog__date">
          <span>25</span>September
        </div>
      </div>
      <div class="blog__info">
        <h3 class="blog__subtitle subtitle is-active">Five things you should have ready for your broker</h3>
        <p class="blog__desk">We are dedicated in creating added value for our customers by implementing modern
          technology in our work. </p>
        <ul class="blog__list">
          <li class="blog__item">
            Urgent transport solutions
          </li>
          <li class="blog__item">
            Reliable & experienced staffs
          </li>
          <li class="blog__item">
            Urgent transport solutions
          </li>
          <li class="blog__item">
            Reliable & experienced staffs
          </li>
        </ul>
      </div>
    </div>
  </div>
  <button class="blog__button button button--blue">More Blog</button>
</section>
