<section class="choose-us">
  <div class="choose-us__left">
    <div class="choose-us__wrapper">
      <img src="./../src/img/home-page/choose-us.jpg" width="929" height="610" alt="" class="choose-us__img">
      <div class="choose-us__body">
        {{> icons/icon-choose-us }}
        <div class="choose-us__desk">
          Moving your products<br />
          across borders
        </div>
      </div>
    </div>
  </div>
  <div class="choose-us__right">
    <div class="choose-us__tag tag">Why Choose</div>
    <h2 class="choose-us__title title">We create opportunity to<br /> reach potential</h2>
    <p class="choose-us__info">
      Leverage agile frameworks to provide a robust synopsis for<br />
      strategy foster collaborative thinking to further the overall value<br />
      proposition.
    </p>
    <ul class="choose-us__list">
      <li class="choose-us__item">
        <div class="choose-us__icon">
          {{> icons/icon-box-mini }}
        </div>
        <h4 class="choose-us__subtitle subtitle">Safe Package</h4>
      </li>
      <li class="choose-us__item">
        <div class="choose-us__icon">
          {{> icons/icon-ship-mini }}
        </div>
        <h4 class="choose-us__subtitle subtitle">Ship Everywere</h4>
      </li>
      <li class="choose-us__item">
        <div class="choose-us__icon">
          {{> icons/icon-glob }}
        </div>
        <h4 class="choose-us__subtitle subtitle">Global Tracking</h4>
      </li>
      <li class="choose-us__item">
        <div class="choose-us__icon">
          {{> icons/icon-headphones }}
        </div>
        <h4 class="choose-us__subtitle subtitle">24/7 Support</h4>
      </li>
      <li class="choose-us__item">
        <div class="choose-us__icon">
          {{> icons/icon-clock }}
        </div>
        <h4 class="choose-us__subtitle subtitle">In Time Delivery</h4>
      </li>
      <li class="choose-us__item">
        <div class="choose-us__icon">
          {{> icons/icon-coin }}
        </div>
        <h4 class="choose-us__subtitle subtitle">Transparant Pricing</h4>
      </li>
    </ul>
  </div>
</section>

<!-- Найти способ улучшить разметку -->
