<section class="companies">
  <div class="companies__wrapper container">
    <div class="companies__content">
      <img src="./../src/img/home-page/contact1.jpg" width="300" height="234" alt="" class="companies__img"
        loading="lazy">
      <div class="companies__logo">
        {{> icons/icon-std-green }}
      </div>
    </div>
    <div class="companies__content">
      <img src="./../src/img/home-page/contact1.jpg" width="300" height="234" alt="" class="companies__img"
        loading="lazy">
      <div class="companies__logo">
        {{> icons/icon-norto }}
      </div>
    </div>
    <div class="companies__content">
      <img src="./../src/img/home-page/contact1.jpg" width="300" height="234" alt="" class="companies__img"
        loading="lazy">
      <div class="companies__logo">
        {{> icons/icon-points-one }}
      </div>
    </div>
    <div class="companies__content">
      <img src="./../src/img/home-page/contact1.jpg" width="300" height="234" alt="" class="companies__img"
        loading="lazy">
      <div class="companies__logo">
        {{> icons/icon-sandbox }}
      </div>
    </div>
  </div>
</section>
