<section class="contact">
  <div class="contact__inner container">
    <div class="contact__tag tag tag--alt">Contact</div>
    <div class="contact__body">
      <div class="contact__info">
        <h2 class="contact__title title">Get in touch with us</h2>
        <p class="contact__desk">
          Leverage agile frameworks to provide a robust<br>
          synopsis for strategy foster collaborative<br>
          thinking to further the overall value.
        </p>
        <ul class="contact__list">
          <li class="contact__item">
            <div class="header-contacts__icon icon">
              {{> icons/icon-clock-yellow }}
            </div>
            <div class="contact__info">
              Mon - Sat 9.00 - 18.00<br>
              Sunday Closed
            </div>
          </li>
          <li class="contact__item">
            <div class="contact__icon icon">
              {{> icons/icon-mail }}
            </div>
            <div class="contact__info">
              <a href="mailto:contact@logistics.com" class="contact__link" target="_blank">
                Email<br>
                contact@logistics.com
              </a>
            </div>
          </li>
          <li class="contact__item">
            <div class="contact__icon icon">
              {{> icons/icon-phone }}
            </div>
            <div class="contact__info">
              <a href="tel:+00112365489" class="contact__link" target="_blank">
                Call Us<br>
                (00) 112 365 489
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="contact__form"></div>
    </div>
  </div>
</section>
