<section class="contact">
  <div class="contact__inner container">
    <div class="contact__tag tag tag--alt">Contact</div>
    <div class="contact__body">
      <div class="contact__info">
        <h2 class="contact__title title">Get in touch with us</h2>
        <p class="contact__desk">
          Leverage agile frameworks to provide a robust<br>
          synopsis for strategy foster collaborative<br>
          thinking to further the overall value.
        </p>
        <ul class="contact__list">
          <li class="contact__item">
            <div class="contact__icon icon">
              {{> icons/icon-mail }}
            </div>
            <div class="contact__info">
              <a href="mailto:contact@logistics.com" class="contact__link" target="_blank">
                Email<br>
                contact@logistics.com
              </a>
            </div>
          </li>
          <li class="contact__item">
            <div class="contact__icon icon">
              {{> icons/icon-phone }}
            </div>
            <div class="contact__info">
              <a href="tel:+00112365489" class="contact__link" target="_blank">
                Call Us<br>
                (00) 112 365 489
              </a>
            </div>
          </li>
          <li class="contact__item">
            <div class="header-contacts__icon icon">
              {{> icons/icon-clock-yellow }}
            </div>
            <div class="contact__info">
              Mon - Sat 9.00 - 18.00<br>
              Sunday Closed
            </div>
          </li>
        </ul>
      </div>
      <div class="contact__wrapper">
        <form class="contact__form">
          <div class="contact__cell field">
            <label for="firstName" class="contact__label"></label>
            <input id="firstName" class="contact__control" placeholder="Your name*" required>
          </div>
          <div class="contact__cell field">
            <label for="email" class="contact__label"></label>
            <input id="email" class="contact__control" placeholder="Email*" required>
          </div>
          <div class="contact__cell field">
            <label for="phoneNumber" class="contact__label"></label>
            <input id="phoneNumber" class="contact__control" placeholder="Phone Number*" required>
          </div>
          <div class="contact__cell field">
            <label for="city" class="contact__label"></label>
            <input id="city" class="contact__control" placeholder="City*" required>
          </div>
          <div class="contact__cell contact__cell--wide field">
            <label for="message" class="contact__label"></label>
            <textarea id="message" class="contact__control" placeholder="Your Message"></textarea>
          </div>
        </form>
        <button class="contact__button" type="button">Submit Message</button>
      </div>
    </div>
  </div>
  <div class="contact-footer container">
    <div class="contact-footer__content">
      <img src="./../src/img/home-page/contact1.jpg" width="300" height="234" alt="" class="contact-footer__content"
        loading="lazy">
      <div class="contact-footer__logo">
        {{> icons/icon-std-green }}
      </div>
    </div>
    <div class="contact-footer__content">
      <img src="./../src/img/home-page/contact2.jpg" width="300" height="234" alt="" class="contact-footer__content"
        loading="lazy">
      <div class="contact-footer__logo">
        {{> icons/icon-norto }}
      </div>
    </div>
    <div class="contact-footer__content">
      <img src="./../src/img/home-page/contact3.jpg" width="300" height="234" alt="" class="contact-footer__content"
        loading="lazy">
      <div class="contact-footer__logo">
        {{> icons/icon-points-one }}
      </div>
    </div>
    <div class="contact-footer__content">
      <img src="./../src/img/home-page/contact4.jpg" width="300" height="234" alt="" class="contact-footer__content"
        loading="lazy">
      <div class="contact-footer__logo">
        {{> icons/icon-sandbox }}
      </div>
    </div>
  </div>
</section>
