<section class="home-intro">
  <img src="./../src/img/home-page/home-intro.jpg" alt="" class="home-intro__img">
  <div class="home-intro__wrapper container">
    <div class="home-intro__body">
      <div class="home-intro__tag tag">Logistics & Supply Chain Solutions</div>
      <h1 class="home-intro__title">Your Gateway<br>
        to any Destination<br>
        in the World</h1>
      <p class="home-intro__info">
        In augue ligula, feugiat ut nulla consequat. Ut est lacus, molestie in arcu<br>
        no, iaculis vehicula ipsum. Nunc faucibus, nisl id dapibus finibus, enim<br>
        diam interdum nulla, sed laoreet risus lectus.
      </p>
      <button class="home-intro__button button__yellow">
        <a href="/">Explore More</a>
      </button>
    </div>
  </div>
</section>
