<section class="our-godness">
  <header class="our-godness__header">
    <div class="our-godness__tag tag">Our Goodness</div>
    <h2 class="our-godness__title title">How We Works</h2>
  </header>
  <div class="our-godness__inner">
    <div class="our-godness__left">
      <div class="our-godness__wrapper">
        <img src="./../src/img/services-page/our-godness1.jpg" alt="" width="726" height="486" class="our-godness__img">
        <img src="./../src/img/services-page/our-godness2.jpg" alt="" width="319" height="303"
          class="our-godness__img-abs">
      </div>
    </div>
    <div class="our-godness__right">
      <div class="our-godness__info">
        <div class="our-godness__icon">
          {{> icons/icon-big-box }}
        </div>
        <div class="our-godness__body">
          <h3 class="our-godness__subtitle subtitle">Warehousing Services</h3>
          <p class="our-godness__desk">Leverage agile frameworks to provide a robust synopsis for strategy foster
            collaborative thinking </p>
        </div>
      </div>
      <div class="our-godness__info">
        <div class="our-godness__icon">
          {{> icons/icon-shield }}
        </div>
        <div class="our-godness__body">
          <h3 class="our-godness__subtitle subtitle">Safety & Quality</h3>
          <p class="our-godness__desk">Leverage agile frameworks to provide a robust synopsis for strategy foster
            collaborative thinking </p>
        </div>
      </div>
      <div class="our-godness__info">
        <div class="our-godness__icon">
          {{> icons/icon-tree }}
        </div>
        <div class="our-godness__body">
          <h3 class="our-godness__subtitle subtitle">Care for Environment</h3>
          <p class="our-godness__desk">Leverage agile frameworks to provide a robust synopsis for strategy foster
            collaborative thinking </p>
        </div>
      </div>
    </div>
  </div>
</section>
