<section class="pricing">
  <div class="pricing__tag tag">Pricing</div>
  <h2 class="pricing__title title">Our Best Pricing</h2>
  <div class="pricing__inner">
    <div class="pricing__card">
      <div class="pricing__subtitle subtitle">Basic</div>
      <div class="pricing__price">
        <span>$39</span>/month
      </div>
      <ul class="pricing__list">
        <li class="pricing__item">Single Truck</li>
        <li class="pricing__item">Full Insurance</li>
        <li class="pricing__item">500 Km</li>
        <li class="pricing__item">Real-time rate shopping</li>
      </ul>
      <button class="pricing__button button button--blue">Choose Plan</button>
    </div>
    <div class="pricing__card pricing__card--alt">
      <div class="pricing__subtitle pricing__subtitle--alt subtitle">Standard</div>
      <div class="pricing__price pricing__price--alt">
        <span>$59</span>/month
      </div>
      <ul class="pricing__list pricing__list--alt">
        <li class="pricing__item pricing__item--alt">Single Truck</li>
        <li class="pricing__item pricing__item--alt">Full Insurance</li>
        <li class="pricing__item pricing__item--alt">500 Km</li>
        <li class="pricing__item pricing__item--alt">Real-time rate shopping</li>
      </ul>
      <button class="pricing__button button button--yellow">Choose Plan</button>
    </div>
    <div class="pricing__card">
      <div class="pricing__subtitle subtitle">Premium</div>
      <div class="pricing__price">
        <span>$89</span>/month
      </div>
      <ul class="pricing__list">
        <li class="pricing__item">Double Truck</li>
        <li class="pricing__item">Full Insurance</li>
        <li class="pricing__item">Unlimitted</li>
        <li class="pricing__item">Real-time rate shopping</li>
      </ul>
      <button class="pricing__button button button--blue">Choose Plan</button>
    </div>
  </div>
</section>
