<section class="reviews {{aboutPage}}">
  <div class="reviews__inner container">
    <div class="reviews__tag tag">Testimonial</div>
    <header class="reviews__header">
      <div class="reviews__left">
        <h2 class="reviews__title title">What Our Customer Say</h2>
      </div>
      <div class="reviews__right">
        <button class="reviews__button-prev slider-button slider-button__prev" type="button">
          {{> icons/icon-prev }}
        </button>
        <button class="reviews__button-next slider-button slider-button__next" type="button">
          {{> icons/icon-next }}
        </button>
      </div>
    </header>
    <div class="reviews-card">
      <div class="reviews-card__wrapper">
        <header class="reviews-card__header">
          <div class="reviews-card__body">
            <img src="./../src/img/home-page/author1.jpg" width="91" height="91" alt="" class="reviews-card__author"
              loading="lazy">
            <div class="reviews-card__info">
              <div class="reviews-card__name">Kathleen Smith</div>
              <div class="reviews-card__company">Fuel Company</div>
            </div>
          </div>
          <div class="reviews-card__quote">
            {{> icons/icon-quote }}
          </div>
        </header>
        <p class="reviews-card__desk">
          Leverage agile frameworks to provide a robust synopsis for strategy foster collaborative thinking to further
          the
          overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace
          diversity and empowerment.
        </p>
        <div class="reviews-card__rating reviews-rating">
          <div class="reviews-rating__star is-active"></div>
          <div class="reviews-rating__star is-active"></div>
          <div class="reviews-rating__star is-active"></div>
          <div class="reviews-rating__star is-active"></div>
          <div class="reviews-rating__star is-active"></div>
        </div>
      </div>
      <div class="reviews-card__wrapper reviews-card__wrapper--alt">
        <header class="reviews-card__header">
          <div class="reviews-card__body">
            <img src="./../src/img/home-page/author2.jpg" width="91" height="91" alt="" class="reviews-card__author"
              loading="lazy">
            <div class="reviews-card__info">
              <div class="reviews-card__name">John Martin</div>
              <div class="reviews-card__company">Restoration Company</div>
            </div>
          </div>
          <div class="reviews-card__quote">
            {{> icons/icon-quote }}
          </div>
        </header>
        <p class="reviews-card__desk">
          Leverage agile frameworks to provide a robust synopsis for strategy foster collaborative thinking to further
          the
          overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace
          diversity and empowerment.
        </p>
        <div class="reviews-card__rating reviews-rating">
          <div class="reviews-rating__star is-active"></div>
          <div class="reviews-rating__star is-active"></div>
          <div class="reviews-rating__star is-active"></div>
          <div class="reviews-rating__star"></div>
          <div class="reviews-rating__star"></div>
        </div>
      </div>
    </div>
  </div>
</section>
