<section class="sea-transport container">
  <img src="./../src/img/service-details/service-details-intro.jpg" alt="" class="sea-transport__img">
  <header class="sea-transport__header">
    <div class="sea-transport__icon">
      {{> icons/icon-ship }}
    </div>
    <h2 class="sea-transport__title title">Sea Transport Services</h2>
  </header>
  <div class="sea-transport__text">
    <p class="sea-transport__desk">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
      doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae
      vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed
      quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem
      ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut
      labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam
      corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
    <p class="sea-transport__desk">Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil
      molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur? At vero eos et accusamus et
      iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et
      quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt
      mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
  </div>
</section>
