<section class="service-benefit container">
  <div class="service-benefit__left">
    <h2 class="service-benefit__title title">Benefit of Service</h2>
    <p class="service-benefit__desk">Sed ut perspiciatis, unde omnis iste natu volupta temaccu santium doloremque
      laudantium, totam rem quae ab illo inventore veritatis.</p>
    <ul class="service-benefit__list">
      <li class="service-benefit__item">
        <div class="service-benefit__option">
          Clearance and compliance service
        </div>
      </li>
      <li class="service-benefit__item">
        <div class="service-benefit__option">
          Saving Time to Deal with commodo iaculis
        </div>
      </li>
      <li class="service-benefit__item">
        <div class="service-benefit__option">
          Automate your business elis tristique
        </div>
      </li>
      <li class="service-benefit__item">
        <div class="service-benefit__option">
          Saving Time to Deal with commodo iaculis
        </div>
      </li>
    </ul>
  </div>
  <div class="service-benefit__right">
    <img src="./../src/img/service-details/service-benefit.jpg" width="686" height="376" alt=""
      class="service-benefit__img">
  </div>
</section>
