<section class="stats">
  <ul class="stats__list">
    <li class="stats__item">
      <div class="stats__number">24</div>
      <div class="stats__text">Our Location</div>
    </li>
    <li class="stats__item">
      <div class="stats__number">1294</div>
      <div class="stats__text">Delivered Packages</div>
    </li>
    <li class="stats__item">
      <div class="stats__number">3594</div>
      <div class="stats__text">Satisfied Clients</div>
    </li>
    <li class="stats__item">
      <div class="stats__number">247+</div>
      <div class="stats__text">Owned Vehicles</div>
    </li>
  </ul>
</section>
