<section class="team container">
  <div class="team__tag tag">The Transporters</div>
  <h2 class="team__title title">Meet Expert Team</h2>
  <div class="team__members">
    <div class="team__card">
      <img src="./../src/img/home-page/team1.jpg" width="364" height="426" alt="" class="team__img" loading="lazy">
      <div class="team__info">
        <div class="team__name">Jessca Arow</div>
        <div class="team__ocupation">Designer</div>
      </div>
      <ul class="team__list">
        <li class="team__item">
          {{> icons/icon-twit}}
        </li>
        <li class="team__item">
          {{> icons/icon-fb}}
        </li>
        <li class="team__item">
          {{> icons/icon-inst}}
        </li>
      </ul>
    </div>
  </div>
</section>
