<section class="transporting">
  <h2 class="transporting__title title">Transporting Across The World</h2>
  <ul class="transporting__list">
    <li class="transporting__item">
      <img src="./../src/img/home-page/transp1.jpg" alt="" width="320" height="407" class="transporting__img"
        loading="lazy">
      <div class="transporting__info">
        <h4 class="transporting__subtitle">Liquid Transportation</h4>
        <div class="transporting__desk">Premium Tankers</div>
      </div>
    </li>
    <li class="transporting__item">
      <img src="./../src/img/home-page/transp2.jpg" alt="" width="320" height="407" class="transporting__img"
        loading="lazy">
      <div class="transporting__info">
        <h4 class="transporting__subtitle">Packaging Solutions</h4>
        <div class="transporting__desk">Warehouse Management</div>
      </div>
    </li>
    <li class="transporting__item">
      <img src="./../src/img/home-page/transp3.jpg" alt="" width="320" height="407" class="transporting__img"
        loading="lazy">
      <div class="transporting__info">
        <h4 class="transporting__subtitle">Contract Logistics</h4>
        <div class="transporting__desk">Road Transportation</div>
      </div>
    </li>
    <li class="transporting__item">
      <img src="./../src/img/home-page/transp4.jpg" alt="" width="320" height="407" class="transporting__img"
        loading="lazy">
      <div class="transporting__info">
        <h4 class="transporting__subtitle">Warehouse & Distribution</h4>
        <div class="transporting__desk">Large Warehouse</div>
      </div>
    </li>
    <li class="transporting__item">
      <img src="./../src/img/home-page/transp5.jpg" alt="" width="320" height="407" class="transporting__img"
        loading="lazy">
      <div class="transporting__info">
        <h4 class="transporting__subtitle">Specialized Transport</h4>
        <div class="transporting__desk">Ocean Transports</div>
      </div>
    </li>
  </ul>
  <button class="transporting__button button button--blue" type="button">More Work</button>
</section>
