<section class="transporting">
  <h2 class="transporting__title title">Transporting Across The World</h2>
  <div class="transporting__body">
    <div class="transporting__card">
      <img src="./../src/img/home-page/transp1.jpg" alt="" width="320" height="407" class="transporting__img"
        loading="lazy">
      <h4 class="transporting__subtitle">Liquid Transportation</h4>
      <div class="transporting__info">Premium Tankers</div>
    </div>
    <div class="transporting__card">
      <img src="./../src/img/home-page/transp2.jpg" alt="" width="320" height="407" class="transporting__img"
        loading="lazy">
      <h4 class="transporting__subtitle">Packaging Solutions</h4>
      <div class="transporting__info">Warehouse Management</div>
    </div>
    <div class="transporting__card">
      <img src="./../src/img/home-page/transp3.jpg" alt="" width="320" height="407" class="transporting__img"
        loading="lazy">
      <h4 class="transporting__subtitle">Contract Logistics</h4>
      <div class="transporting__info">Road Transportation</div>
    </div>
    <div class="transporting__card">
      <img src="./../src/img/home-page/transp4.jpg" alt="" width="320" height="407" class="transporting__img"
        loading="lazy">
      <h4 class="transporting__subtitle">Warehouse & Distribution</h4>
      <div class="transporting__info">Large Warehouse</div>
    </div>
    <div class="transporting__card">
      <img src="" alt="" class="transporting__img">
      <img src="./../src/img/home-page/transp5.jpg" alt="" width="320" height="407" class="transporting__img"
        loading="lazy">
      <h4 class="transporting__subtitle">Specialized Transport</h4>
      <div class="transporting__info">Ocean Transports</div>
    </div>
  </div>
  <button class="transporting__button button button--blue" type="button">More Work</button>
</section>
