<section class="we-do container">
  <div class="we-do__left">
    <div class="we-do__tag tag">What we Do</div>
    <h2 class="we-do__title title">Safe & Reliable Cargo Solutions</h2>
  </div>
  <div class="we-do__right">
    <ul class="we-do__list">
      <li class="we-do__item">
        <div class="we-do__icon">
          {{> icons/icon-ship }}
        </div>
        <div class="we-do__info">
          <h3 class="we-do__subtitle subtitle">Sea Transport Services</h3>
          <p class="we-do__desk">Following the quality of our service thus having gained trust of our many clients.</p>
        </div>
      <li class="we-do__item">
        <div class="we-do__icon">
          {{> icons/icon-warehouse }}
        </div>
        <div class="we-do__info">
          <h3 class="we-do__subtitle subtitle">Warehousing Services</h3>
          <p class="we-do__desk">Following the quality of our service thus having gained trust of our many clients.</p>
        </div>
      <li class="we-do__item">
        <div class="we-do__icon">
          {{> icons/icon-plane }}
        </div>
        <div class="we-do__info">
          <h3 class="we-do__subtitle subtitle">Air Fright Services</h3>
          <p class="we-do__desk">Following the quality of our service thus having gained trust of our many clients.</p>
        </div>
      <li class="we-do__item">
        <div class="we-do__icon">
          {{> icons/icon-truck }}
        </div>
        <div class="we-do__info">
          <h3 class="we-do__subtitle subtitle">Local Shipping Services</h3>
          <p class="we-do__desk">Following the quality of our service thus having gained trust of our many clients.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
