<section class="what-we-do {{servicesPage}}">
  <div class="what-we-do__inner container">
    <div class="what-we-do__tag tag">What We Do</div>
    <h2 class="what-we-do__title title">Our Logistics Services</h2>
    <ul class="what-we-do__list">
      <li class="what-we-do__item">
        <div class="what-we-do__icon">{{> icons/icon-ship }}</div>
        <a href="/" class="what-we-do__link">
          <h3 class="what-we-do__subtitle subtitle">Sea Transport Services</h3>
        </a>
        <p class="what-we-do__desk">Following the quality of our service thus having gained trust of our many clients.
        </p>
      </li>
      <li class="what-we-do__item">
        <div class="what-we-do__icon">{{> icons/icon-warehouse }}</div>
        <a href="/" class="what-we-do__link">
          <h3 class="what-we-do__subtitle subtitle">Warehousing Services</h3>
        </a>
        <p class="what-we-do__desk">Following the quality of our service thus having gained trust of our many clients.
        </p>
      </li>
      <li class="what-we-do__item">
        <div class="what-we-do__icon">{{> icons/icon-plane }}</div>
        <a href="/" class="what-we-do__link">
          <h3 class="what-we-do__subtitle subtitle">Air Fright Services</h3>
        </a>
        <p class="what-we-do__desk">Following the quality of our service thus having gained trust of our many clients.
        </p>
      </li>
      <li class="what-we-do__item">
        <div class="what-we-do__icon">{{> icons/icon-project }}</div>
        <a href="/" class="what-we-do__link">
          <h3 class="what-we-do__subtitle subtitle">Project & Exhibition</h3>
        </a>
        <p class="what-we-do__desk">Following the quality of our service thus having gained trust of our many clients.
        </p>
      </li>
      <li class="what-we-do__item">
        <div class="what-we-do__icon">{{> icons/icon-truck}}</div>
        <a href="/" class="what-we-do__link">
          <h3 class="what-we-do__subtitle subtitle">Local Shipping Services</h3>
        </a>
        <p class="what-we-do__desk">Following the quality of our service thus having gained trust of our many clients.
        </p>
      </li>
      <li class="what-we-do__item">
        <div class="what-we-do__icon">{{> icons/icon-customer }}</div>
        <a href="/" class="what-we-do__link">
          <h3 class="what-we-do__subtitle subtitle">Customer Clearance</h3>
        </a>
        <p class="what-we-do__desk">Following the quality of our service thus having gained trust of our many clients.
        </p>
      </li>
    </ul>
    <button class="what-we-do__button button button--blue">More Works</button>
  </div>
</section>
