<section class="why-us">
  <img src="./../src/img/home-page/why-us1.jpg" width="1920" height="504" alt="" class="why-us__img">
  <div class="why-us__body container">
    <div class="why-us__left">
      <div class="why-us__tag tag">Why Us</div>
      <h2 class="why-us__title title">
        We provide full range global<br />
        logistics solution
      </h2>
      <div class="why-us__paragraph">
        <p>
          Leverage agile frameworks to provide a robust synopsis for<br />
          strategy foster collaborative thinking to further the overall<br />
          value proposition.
        </p>
        <p>
          Organically grow the holistic world view of disruptive<br />
          innovation via workplace diversity and
          empowerment.
        </p>
      </div>
      <div class="why-is__icon">
        {{> icons/icon-box }}
        <h3 class="why-us__subtitle">Delivery on Time</h3>
      </div>
      <div class="why-is__icon">
        {{> icons/icon-cash }}
        <h3 class="why-us__subtitle">Optimized Travel Cost</h3>
      </div>
    </div>
    <div class="why-us__right">
      <img src="./../src/img/home-page/why-us2.jpg" width="461" height="415" alt="">
      <img src="./../src/img/home-page/why-us3.jpg" width="302" height="225" alt="">
    </div>
  </div>
</section>
