<section class="why-us">
  <div class="why-us__wrapper">
    <img src="./../src/img/home-page/why-us1.jpg" width="1920" height="504" alt="" loading="lazy" class="why-us__img">
  </div>
  <div class="why-us__container container">
    <div class="why-us__inner">
      <div class="why-us__body">
        <div class="why-us__left">
          <div class="why-us__tag tag">Why Us</div>
          <h2 class="why-us__title title">
            We provide full range global<br />
            logistics solution
          </h2>
          <div class="why-us__paragraph">
            <p>
              Leverage agile frameworks to provide a robust synopsis for
              strategy foster collaborative thinking to further the overall
              value proposition.
            </p>
            <p>
              Organically grow the holistic world view of disruptive
              innovation via workplace diversity and
              empowerment.
            </p>
          </div>
          <ul class="why-us__list">
            <li class="why-us__item">
              {{> icons/icon-box }}
              <h4 class="why-us__subtitle subtitle">Delivery on Time</h4>
            </li>
            <li class="why-us__item">
              {{> icons/icon-cash }}
              <h4 class="why-us__subtitle subtitle">Optimized Travel Cost</h4>
            </li>
          </ul>
        </div>
        <div class="why-us__right">
          <img src="./../src/img/home-page/why-us2.jpg" width="461" height="415" alt="" class="why-us__1"
            loading="lazy">
          <img src="./../src/img/home-page/why-us3.jpg" width="302" height="225" alt="" class="why-us__2"
            loading="lazy">
        </div>
      </div>
      <ul class="why-us__stat-list">
        <li class="why-us__stat-item">
          <div class="why-us__stat-number">1294</div>
          <div class="why-us__stat-text">Delivered Packages</div>
        </li>
        <li class="why-us__stat-item">
          <div class="why-us__stat-number">3594</div>
          <div class="why-us__stat-text">Satisfied Clients</div>
        </li>
      </ul>
    </div>
  </div>
</section>
