.button {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1.9rem 4.8rem;
  // width: 19.8rem;
  font-family: var(--font-family-third);
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 135%;
  border: none;
  z-index: 2;

  &--yellow {
    color: black;
    background: var(--gradient-yellow);

    &::before {
      content: "";
      position: absolute;
      bottom: -3rem;
      right: -2rem;
      width: 5.2rem;
      height: 5.2rem;
      background: white;
      border-radius: 50%;
      transition: 0.6s;
      z-index: -1;
    }

    &:hover::before {
      width: 12rem;
      height: 20.6rem;
      bottom: -10rem;
      border-radius: 50%;
      background: #fff;
    }
  }

  &--blue {
    color: white;
    background: var(--color-base-blue);

    &::before {
      content: "";
      position: absolute;
      bottom: -3rem;
      right: -2rem;
      width: 5.2rem;
      height: 5.2rem;
      background: #1f2a69;
      border-radius: 50%;
      transition: 0.6s;
      z-index: -1;
    }

    &:hover::before {
      width: 12rem;
      height: 20.6rem;
      bottom: -10rem;
      border-radius: 50%;
      background: #1f2a69;
    }
  }
}
