.choose-us {

  &__inner {
    position: relative;
    display: flex;
    gap: 5.3rem;
    height: 89.7rem;
    padding-block: 14.2rem 14.5rem;
    background: #f4f4f4;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      object-fit: cover;
      width: 50%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 5;
      background: var(--color-base-blue);
    }
  }

  &__left {
    position: relative;
    margin-left: 14rem;
    z-index: 10;
  }

  &__wrapper {
    position: relative;
  }

  &__img {
    position: relative;
  }

  &__body {
    position: absolute;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.1rem;
    padding: 3rem 3.9rem 2.9rem 3.3rem;
    bottom: 0;
    left: 22rem;
    background: linear-gradient(127deg, #ffb629 0%, #ffda56 50.72%, #ffd7a6 100%);
    z-index: 10;
  }

  &__desk {
    font-weight: 400;
    font-size: 25px;
    color: var(--color-base-blue);
  }


  &__title {
    margin-top: 1.2rem;
    margin-bottom: 1.8rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 7.2rem;
    row-gap: 2rem;
    margin-top: 6.1rem;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 20px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.3rem;
    height: 6.3rem;
    border-radius: 50%;
    background: var(--gradient-yellow);
  }
}
