.faq {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20rem;
  padding-block: 10rem;
  padding-left: 1.5rem;
  background: #f4f4f4;

  @media screen and (max-width: 1300px) {
    flex-direction: column;
    gap: 5rem;
  }

  @media screen and (max-width: 992px) {
    padding-inline: 1.5rem;
  }

  @media screen and (max-width: 768px) {
    padding-block: 7rem;
  }

  @media screen and (max-width: 576px) {
    padding-block: 4rem;
  }

  &__left {
    padding-inline: 1.5rem;
  }

  &__title {
    margin-top: 1.5rem;
  }

  &__right {
    position: relative;

    @media screen and (max-width: 430px) {
      width: 35rem;
    }
  }

  &__wrapper {
    position: absolute;
    object-fit: cover;
    padding: 5.2rem 6.2rem;
    // height: 100%;
    top: 8.6rem;
    left: -12.6rem;
    background: var(--color-base-blue);

    @media screen and (max-width: 1400px) {
      // top: 10%;
      padding: 2rem 3rem;
    }

    @media screen and (max-width: 1300px) {
      top: 15rem;
      padding: 5.2rem 6.2rem;
    }

    @media screen and (max-width: 992px) {
      position: static;
    }
  }

  &__subtitle {
    width: 32.4rem;
    font-weight: 500;
    font-size: 2rem;
    margin-top: 2.3rem;
    text-transform: capitalize;
    color: #fff;

    @media screen and (max-width: 1300px) {
      width: 100%;
    }
  }

  &__contact {
    display: flex;
    align-items: center;
    gap: 1.4rem;
    margin-top: 2.1rem;
  }

  &__info {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 135%;
  }

  &__button {
    margin-top: 2.6rem;
  }
}
