.footer-copy {
  margin-top: 4.5em;
  padding-block: 1.5rem 1.8rem;
  border-top: 1px solid #4e5683;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 36.2rem 36.4rem;
  }

  &__info {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 250%;
  }

  &__list {
    display: flex;
    gap: 3.7rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 250%;
    color: #8388a7;
  }
}
