.footer-left {
  max-width: 428px;
  padding: 4.3rem 6.3rem 0 4.5rem;
  background: var(--color-base-blue);

  @media screen and (max-width: 1200px) {
    max-width: 500px;
  }

  @media screen and (max-width: 576px) {
    padding-inline: 0;
    max-width: 320px;
  }

  &__info {
    margin-top: 7.7rem;

    @media screen and (max-width: 576px) {
      margin-top: 2rem;
    }
  }

  &__desk {
    color: #fff;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3.3rem;

    @media screen and (max-width: 1200px) {
      flex-direction: row;
    }

    @media screen and (max-width: 576px) {
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 1.4rem;
  }

  &__info {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 135%;
  }
}
