.header-contacts {
  background: var(--color-base-blue);
  padding-block: 4.8rem;

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    gap: 3.1rem;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 135%;
    color: #fff;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.7rem;

    &:nth-of-type(1) {
      padding-right: 3.3rem;
    }
  }
}
