.header-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.3rem;
  }

  &__btn {
    padding: 2.9rem 5rem;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 135%;
    text-align: center;
    color: #23212a;
    border: none;
    background: #fff;
  }
}
