.home-intro {
  position: relative;

  &__img {
    position: absolute;
    top: 0;
    z-index: -1;
  }

  &__wrapper {
    position: relative;
  }

  &__body {
    padding-top: 25.1rem;
  }

  &__title {
    margin-top: 8px;
  }

  &__info {
    margin-top: 6px;
  }

  &__button {
    margin-top: 2.4rem;
  }
}
