.home-intro {
  position: relative;
  height: 87.7rem;

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    z-index: -1;
    overflow: hidden;
  }

  &__wrapper {
    position: relative;
  }

  &__body {
    // display: flex;
    // flex-direction: column;
    padding-top: 25.1rem;
  }

  &__title {
    font-family: var(--font-family-second);
    font-weight: 700;
    line-height: 120%;
    font-size: 6rem;
    margin-top: 0.8rem;
    color: #fff;
  }

  &__info {
    margin-top: 0.6rem;
    color: #fff;
  }

  &__button {
    margin-top: 2.2rem;
  }
}
