.icon {
  display: flex;
  width: 6.4rem;
  height: 6.4rem;
  align-items: center;
  justify-content: center;
  background: #111c55;
  border: solid 1px #273270;
  border-radius: 100%;

  &--yellow {
    display: flex;
    width: 5.8rem;
    height: 5.8rem;
    // align-items: center;
    // justify-content: center;
    background: var(--gradient-yellow);
    border: none;
    border-radius: 100%;
  }
}
