.page-intro {
  position: relative;
  height: 49.7rem;

  &::before {
    content: '';
    position: absolute;
    object-fit: cover;
    inset: 0;
    z-index: 1;
    background: linear-gradient(to right,
        rgba(3, 45, 95, 1) 20%,
        rgba(3, 45, 95, 0.3) 50%);
    pointer-events: none;
  }

  &__img {
    position: absolute;
    width: 1650px;
    height: 100%;
    object-fit: cover;
    top: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
  }

  &__body {
    position: relative;
    padding-top: 19.7rem;
    z-index: 2;
  }

  &__title {
    font-weight: 700;
    font-size: 60px;
    margin-top: 0.8rem;
    color: #fff;
  }
}
