.reviews-card {
  margin-top: 4rem;
  display: flex;

  &__wrapper {
    padding: 6.2rem 7.2rem;
    color: var(--color-base-blue);
    background: #f4f4f4;
  }

  &__wrapper--alt {
    color: #fff;
    background: var(--color-base-blue);

    .reviews-card__desk {
      color: #fff;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__body {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__author {
    border-radius: 50%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  &__name {
    font-family: var(--font-family-second);
    font-weight: 500;
    font-size: 20px;
  }

  &__company {
    font-weight: var(--font-family-second);
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
  }

  &__quote {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.3rem;
    height: 7.3rem;
    border-radius: 50%;
    background: var(--gradient-yellow);
  }

  &__desk {
    font-style: italic;
    margin-top: 2.4rem;
  }

  &__rating {
    margin-top: 3.2rem;
  }
}
