.slider-button {
  display: flex;
  border: none;

  &__prev {
    align-items: center;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    background: var(--gradient-yellow);
  }

  &__next {
    align-items: center;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    background: var(--color-base-blue);
  }
}
