.tag {
  font-family: var(--font-family-second);
  font-weight: 400;
  font-size: 14px;
  padding: 3px 9px;
  max-width: 24.7rem;
  color: #fff;
  background: rgba(4, 28, 55, 0.5);
  border-left: solid 2px yellow;
}
