.transporting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 9.7rem;

  &__body {
    display: flex;
    gap: 1.8rem;
    justify-content: center;
    margin-top: 3.5rem;
  }
}
