.why-us {
  position: relative;
  height: 118rem;

  &__img {
    position: relative;
    z-index: -10;
  }

  .immg {
    position: relative;
  }

  .immg::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    inset: 0;
    z-index: 1;
    background-image: linear-gradient(360deg, #091242 0%, rgba(9, 18, 66, 0) 100%);
  }

  &__inner {
    position: absolute;
    top: 36.6rem;
    display: flex;
    flex-direction: column;
    z-index: 10;
    background: #fff;
    padding: 8.5rem 9.3rem 0 8.6rem;
  }

  &__body {
    position: relative;
    display: flex;
    gap: 8.8rem;
  }

  &__title {
    margin-top: 1.2rem;
  }

  &__paragraph {
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
    gap: 2.5rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    gap: 2.2rem;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  &__subtitle {
    font-weight: 400;
    color: var(--color-heading);
  }

  &__right {
    position: relative;
  }

  &__2 {
    position: absolute;
    left: -10rem;
    bottom: -1.7rem;
    padding: 3rem 3rem 0 0;
    z-index: 1;
    background: #fff;
  }

  &__stat-list {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 11.2rem;
    margin-top: 13.8rem;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
  }


  &__stat-item {
    display: flex;
    padding-block: 4.6rem 3.8rem;
    gap: 1.6rem;
    justify-content: center;
    align-items: center;
  }

  &__stat-item:not(:first-child) {
    padding-left: 11.2rem;
    border-left: 1px solid #d4d4d4;
  }

  &__stat-number {
    font-family: var(--font-family-second);
    font-weight: 600;
    font-size: 6rem;
    color: var(--color-heading);
  }

  &__stat-text {
    position: relative;
    display: flex;
    align-items: center;
    font-family: var(--font-family-third);
    font-weight: 400;
    padding-left: 3.2rem;
    font-size: 2rem;
    color: var(--color-heading);
  }

  &__stat-text::before {
    content: '';
    position: absolute;
    left: 0;
    width: 1.7rem;
    height: 1.7rem;
    background: var(--gradient-yellow);
  }
}
