body {
  font-family: var(--font-family-base);
}

.title {
  font-family: var(--font-family-second);
  font-weight: 600;
  font-size: 3.5rem;
  color: var(--color-base-blue);
}

.subtitle {
  font-family: var(--font-family-second);
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--color-base-blue);
}

p {
  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 152%;
  color: var(--color-paragraph);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}
