:root {
  --color-base-yellow: #FFBE34;
  --color-base-blue: #091242;
  --color-secondary: #F4F4F4;
  --color-heading: #1C1F35;
  --color-paragraph: #666C89;

  --gradient-yellow: linear-gradient(127deg, #ffb629 0%, #ffda56 50%, #ffd7a6 100%);

  --font-family-base: "Krub", sans-serif;
  --font-family-second: "Rubik", sans-serif;
  --font-family-third: "Leage Spartan", sans-serif;
}

// TODO: насторить автосохранение только в момент потери фокуса файла именно смена файла переход на другой рабочий стол, в момент пока я в файле встосохранение не должно работать
