:root {
  --color-base-yellow: #ffbe34;
  --color-base-blue: #091242;
  --color-secondary: #f4f4f4;
  --color-heading: #1c1f35;
  --color-paragraph: #666c89;

  --gradient-yellow: linear-gradient(127deg, #ffb629 0%, #ffda56 50%, #ffd7a6 100%);

  --font-family-base: 'Krub', sans-serif;
  --font-family-second: 'Rubik', sans-serif;
  --font-family-third: 'League Spartan', sans-serif;
}
